environment: {{ directdnsonly_environment }}
proxy_support: {{ directdnsonly_proxy_support }}
username: {{ directdnsonly_username }}
password: {{ directdnsonly_password }}
log_level: {{ directdnsonly_log_level }}
log_to: {{ directdnsonly_log_to }}
log_path: {{ directdnsonly_log_path }}
db_location: {{ directdnsonly_db_location }}
queue_location: {{ directdnsonly_queue_location }}
proxy_support_base: {{ directdnsonly_proxy_support_base }}
server_port: {{ directdnsonly_server_port }}
token_valid_for_days: 30
timezone: {{ directdnsonly_timezone }}
ssl_enable: {{ directdnsonly_ssl_enable }}
{% if directdnsonly_ssl_enable %}
ssl_cert: {{ directdnsonly_ssl_cert }}
ssl_key: {{ directdnsonly_ssl_key }}
ssl_bundle: {{ directdnsonly_ssl_bundle }}
{% endif %}
